<section class="footer mt-5">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-9 mt-4">
                <p class="">Created By Mai Mohamed</p>
            </div>
            <div class="col-6 col-md-3 mt-4">
                <ul class="d-flex list-unstyled">
                    <li>
                        <a>
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-yahoo" aria-hidden="true"></i>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

</section>


<section id="chat">
    <div class="chat-icon">

        <i class="fa fa-comment-o text-white h3" style="{{'left'|translate}}: 31px " aria-hidden="true "></i>

    </div>
</section>
