<div class="navbar_contaner">
    <section class=" nav_container ">
        <div class="container ">
            <div class="row" dir="{{'dir'|translate}}">
                <div class="col-12 ">
                    <div class="float-end">
                        <a routerLink="/home">
                            <img src="assets/img/Logo_07.png " class="logo_img_0 h-100 ">
                        </a>
                    </div>
                    <ul class="d-flex list-unstyled mt-2 mx-4 float-start ">

                        <li>
                            <a class="camera-btn " routerLink="/camera" routerLinkActive="LinkActive ">
                                <i class="fa fa-camera " aria-hidden="true "></i>
                            </a>
                        </li>
                        <li class="mx-4 mt-1 ">
                            <a routerLink="/side" routerLinkActive="LinkActive">{{'nav.users'| translate}}</a>

                        </li>
                        <li class="mt-2">
                            <select name="" id="" (change)="changeCurrentLang($event)">
                              <option selected>{{currentLang}}</option>
                              <option value="en" *ngIf="currentLang != 'en'">en</option>
                              <option value="ar" *ngIf="currentLang != 'ar'">ar</option>
                            </select>
                        </li>

                    </ul>
                    <div class="clearfix "></div>
                </div>
            </div>
        </div>
    </section>
</div>
