<div class="navbar_contaner">
    <section class=" nav_container ">
        <div class="container ">
            <div class="row" dir="{{'dir'|translate}}">
                <div class="col-12 ">
                    <div class="float-end">
                        <a routerLink="/home">
                            <img src="assets/img/Logo_07.png " class="logo_img_0 h-100 ">
                        </a>
                    </div>



                    <ul class="d-flex list-unstyled mt-2 mx-4 float-start">

                        <li class="camera">
                            <a class="camera-btn " routerLink="/camera" routerLinkActive="LinkActive ">
                                <i class="fa fa-camera " aria-hidden="true "></i>
                            </a>
                        </li>
                        <li class="mx-4 mt-1 side">
                            <a routerLink="/side" routerLinkActive="LinkActive">{{'nav.users'| translate}}</a>

                        </li>
                        <li class="mt-2">
                            <select name="" id="" (change)="changeCurrentLang($event)">
                              <option selected>{{currentLang}}</option>
                              <option value="en" *ngIf="currentLang != 'en'">en</option>
                              <option value="ar" *ngIf="currentLang != 'ar'">ar</option>
                            </select>
                        </li>

                    </ul>
                    <div class="dropdown mobile-dropdown mt-2 d-none">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li>
                                <a class="dropdown-item" routerLink="/side" routerLinkActive="LinkActive">
                                    <i class="fa fa-users" aria-hidden="true"></i> {{'nav.users'| translate}}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item camera-btn" routerLink="/camera" routerLinkActive="LinkActive ">
                                    <i class="fa fa-camera mt-1" aria-hidden="true "></i> Camera
                                </a>
                            </li>

                        </ul>
                    </div>

                    <div class="clearfix "></div>
                </div>
            </div>
        </div>
    </section>
</div>
