<app-navbar>
</app-navbar>
<section id="header">
    <div id="overlay">
        <div class="container">
            <!-- <app-navbar></app-navbar> -->
            <div class="row">
                <div class="col-md-8 mt-5">
                    <div id="content">
                        <h5 class="wow flash h3 mt-5" data-wow-delay="1s" data-wow-duration="5s">Our Project</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius tempor augue et semper</p>
                        <button class="btn btn-crud border border-white text-white mt-1 w-25">
                <a routerLink="/side">Crud Operation</a>
              </button>
                    </div>
                </div>

                <div class="col-md-4 mt-3">
                    <img src="assets/img/03.png" class="w-100 h-100" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
