@import '../../shared/varaiables';
#header {
    position: relative;
    #overlay {
        #content {
            margin: 10% 5%;
            width: 80%;
            h5 {
                font-family: cursive;
                font-size: 30px;
                color: $dark_blue;
            }
            p {
                color: $dark_blue;
                font-size: 20px;
                font-family: sans-serif;
            }
        }
    }
}

.btn-crud {
    background-color: rgb(170, 194, 233);
    color: $dark_blue;
    padding: 5px 7px;
    width: 15%;
    a {
        text-decoration: none;
    }
}

.section-how-it-works {
    position: relative;
    counter-reset: number;
    margin: 4% 0px;
    h3 {
        color: $dark_blue;
    }
    .steps-container {
        border: 2px dashed $dark_blue;
        padding: 10px;
        border-radius: 40px;
        margin-bottom: 100px;
        .step {
            height: 56px;
            border-radius: 0;
            position: relative;
            counter-increment: number;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            &:after {
                content: '';
                mask: url("../../../assets/img/steps-after.svg") no-repeat 50% 50%;
                mask-size: cover;
                width: 18px;
                height: 64px;
                bottom: -90px;
                right: 0;
                display: flex;
                position: absolute;
            }
            &:before {
                content: counter(number) " ";
                position: absolute;
                width: 56px;
                height: 56px;
                border-radius: 50%;
                box-shadow: 0 16px 37px 0 rgba(10, 118, 155, 0.11);
                background-color: #fff;
                top: 0;
                right: -28px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;
                font-weight: bold;
                color: $dark_blue;
                z-index: 99;
            }
            &:first-child {
                border-radius: 28px;
                &:before {
                    right: -24px;
                }
            }
            &:last-child {
                border-radius: 28px;
            }
            &:nth-child(1) {
                background-color: $dark_blue;
                &:after {
                    background-color: $dark_blue;
                }
            }
            &:nth-child(2) {
                background-color: rgb(9, 46, 104);
                &:after {
                    background-color: rgb(9, 46, 104);
                }
            }
            &:nth-child(3) {
                background-color: $dark_blue;
                &:after {
                    background-color: $dark_blue;
                }
            }
            &:nth-child(4) {
                background-color: rgb(9, 46, 104);
                &:after {
                    background-color: rgb(9, 46, 104);
                }
            }
        }
    }
    p {
        color: $dark_blue;
        font-size: 16px;
        margin: -12px -46px;
        text-align: right;
    }
    img {
        float: right;
    }
}

.clearfix {
    clear: both;
}

.section-talking-numbers {
    color: $dark_blue;
    .card {
        box-shadow: 1px 1px 12px gainsboro;
        border: none;
        position: relative;
        .number {
            font-size: 30px;
            font-weight: bold;
            color: $dark_blue;
            position: absolute;
            top: 30px;
            right: 44px
        }
        .title {
            font-size: 20px;
            color: #15345d;
            position: absolute;
            top: 73px;
            right: 6px;
            width: 37%;
        }
    }
}

@media(max-width:767px) {
    .btn-crud {
        width: 40% !important;
    }
    .section-how-it-works p {
        margin: 0px
    }
}