<app-navbar>
</app-navbar>
<section id="header">
    <div id="overlay">
        <div class="container">
            <!-- <app-navbar></app-navbar> -->
            <div class="row" dir="{{'dir'|translate}}">
                <div class="col-md-8 mt-5">
                    <div id="content">
                        <h5 class="wow flash h3 mt-5" data-wow-delay="1s" data-wow-duration="5s">{{'home.education'|translate}}</h5>
                        <p>
                            {{'home.this-site-is-for-using-the-ngrx-crud-and-unit-testing'|translate}}
                        </p>
                        <button class="btn btn-crud border border-white text-white mt-1 w-25">
                <a routerLink="/side">{{'home.users'| translate}}</a>
              </button>
                    </div>
                </div>

                <div class="col-md-4 mt-3">
                    <img src="assets/img/06.png" class="w-100 h-100" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section-how-it-works">
    <div class="w-100 section-how-it-works">
        <div class="container">

            <div class="col-12 col-md-12 py-5 mx-auto ">
                <div class="text-center d-flex justify-content-center mb-4">
                    <h3 class="text-center title-styled-1">
                        {{'home.site-content' | translate}}
                    </h3>
                </div>

                <div class="row d-flex no-gutters steps-container">
                    <div class="col-12 col-md-3 step">
                        Ngrx Crud Operation
                    </div>
                    <div class="col-12 col-md-3 step">
                        Unit Testing
                    </div>
                    <div class="col-12 col-md-3 step">
                        Lazy Loading
                    </div>
                    <div class="col-12 col-md-3 step">
                        Multi Language & Camera
                    </div>
                </div>

                <div class="row d-flex no-gutters">
                    <div class="col-12 col-md-3 ">
                        <p>
                            Ngrx Crud Operation practise
                        </p>
                    </div>
                    <div class="col-12 col-md-3 ">

                        <p>
                            Unit Testing Practise
                        </p>
                    </div>
                    <div class="col-12 col-md-3 ">

                        <p>
                            Lazy Loading Practise
                        </p>
                    </div>
                    <div class="col-12 col-md-3 ">

                        <p>
                            Multi Language & Camera Practise
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>


<section id="section-talking-numbers">
    <div class="w-100 section-talking-numbers">
        <div class="container">

            <div class="col-12 col-md-12 py-5 mx-auto ">
                <div class="text-center d-flex justify-content-center">
                    <h3 class="text-center title-styled-1  mb-5">
                        نتحدث بالارقام
                    </h3>
                </div>

                <div class="row d-flex">
                    <div class="col-12 col-md-3 card">
                        <img src="assets/img/number1.jpg" alt="">
                        <span class="number">50%</span>
                        <span class="title">
                          Ngrx Crud Operation practise

                        </span>
                    </div>
                    <div class="col-12 col-md-3 card">
                        <img src="assets/img/number2.jpg" alt="">
                        <span class="number">20%</span>
                        <span class="title">
                          Unit Testing Practise

                        </span>
                    </div>
                    <div class="col-12 col-md-3 card">
                        <img src="assets/img/number3.jpg" alt="">
                        <span class="number">20%</span>
                        <span class="title">
                          Lazy Loading Practise

                        </span>
                    </div>
                    <div class="col-12 col-md-3 card">
                        <img src="assets/img/number4.jpg" alt="">
                        <span class="number">10%</span>
                        <span class="title">
                          Multi Language & Camera Practise
                        </span>
                    </div>

                </div>


            </div>
        </div>
    </div>
</section>