<section class="sidebar">
    <!-- <div class="container"> -->
    <div class="d-flex w-100">
        <div class="side_container col-12 col-md-2" *ngIf="isOpen">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mt-5">
                        <!-- <a routerLink="/home">
                            <img src="assets/img/Logo_07.png " class="logo_img_0 h-100 ">
                        </a> -->
                    </div>
                    <!-- <ng-container *ngFor="let item of _service.allPages.slice(0,2)"> -->
                    <div class="col-md-12 mt-5">
                        <a [routerLink]="[{outlets: {sidebar: ''}}]">
                            <button class="mt-4 btn text-white text-center side-header">
                          User List
                        </button>
                        </a>
                    </div>
                    <div class="col-md-12">
                        <a [routerLink]="[{ outlets : { sidebar: ['adduser'] }}]">
                            <button class="mt-4 btn text-white text-center side-header">
                          Add User
                      </button>
                        </a>
                    </div>
                    <!-- </ng-container> -->
                </div>
            </div>
        </div>
        <div class="toggle_container">
            <i class="fa fa-angle-double-right mt-2 mb-3 mx-3 text-white" (click)="ToggleSide()" aria-hidden="true"></i>
        </div>
        <div class="col-11 content_container" [ngClass]="newWidth">
            <div class="row">
                <div class="col-12 nav_container" [style.width]="navWidth">
                    <div class="float-end">
                        <a routerLink="/home">
                            <img src="assets/img/Logo_07.png " class="logo_img_0 h-100 ">
                        </a>
                    </div>
                    <ul class="d-flex list-unstyled mt-2 mx-4 float-start ">

                        <li>
                            <a class="camera-btn " routerLink="/camera" routerLinkActive="LinkActive ">
                                <i class="fa fa-camera" aria-hidden="true "></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="container ">

                <router-outlet name="sidebar"></router-outlet>
                <!-- <ng-container *ngComponentOutlet="_service.selectedPage "></ng-container> -->
            </div>
        </div>
    </div>
    <!-- <
/div> -->
</section>
