@import '../../shared/varaiables';
.camera_container {
    margin: 50% 0px;
}

.light-danger {
    background-color: rgb(245, 187, 187);
    color: $dark_red;
    padding: 10px;
    border-radius: 5px;
}

.btn-light {
    background-color: rgb(170, 194, 233);
    color: $dark_blue;
}
