@import '../../shared/varaiables';
.Update_btn{
  background-color: $dark_blue;
  color: white;
  padding: 5px;
  border-radius: 4px;
  width: 10%;
}
.text-dark-blue{
  color: $dark_blue;
}
.alert{
  background-color: $dark_blue;
  color: white;
}
@media(max-width:767px){
  .Update_btn{
    width: 32%;
  }
}